.archive-posts,
.wp-block-jcore-dynamic-archive-posts__inner {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
}

.archive-posts.columns-2,
.wp-block-jcore-dynamic-archive-posts__inner.columns-2 {
  @media (width >= var(--breakpoint-sm)) {
    grid-template-columns: 1fr 1fr;
  }
}

.archive-posts.columns-3,
.wp-block-jcore-dynamic-archive-posts__inner.columns-3 {
  @media (width >= var(--breakpoint-md)) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.archive-posts.columns-4,
.wp-block-jcore-dynamic-archive-posts__inner.columns-4 {
  @media (width >= var(--breakpoint-sm)) {
    grid-template-columns: 1fr 1fr;
  }
  @media (width >= var(--breakpoint-lg)) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.archive-case, .wp-block-jcore-dynamic-archive-posts.post-type-case .wp-block-jcore-dynamic-archive-posts__inner {
  grid-column-gap: 4rem;
  grid-row-gap: 2rem;

  @media (width >= var(--breakpoint-lg)) {
    grid-column-gap: 6rem;
  }
}

.wp-block-jcore-dynamic-archive {
  padding-bottom: 3rem;
}

.wp-block-jcore-dynamic-archive__filters__taxonomies {
  padding: 2rem 0;
  .wp-block-jcore-dynamic-archive__filters__taxonomies__type {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
  }
  input {
    display: none;
  }
  label {
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid var(--wp--preset--color--dark);
    font-family: var(--jcore-heading-font-family);
    text-transform: uppercase;
    font-weight: 700;
    padding: 0.25rem 0.5rem;
    &.checked,
    &:hover {
      background: var(--wp--preset--color--brand);
      border: none;
    }
  }
}

.wp-block-jcore-dynamic-archive-posts__pagination {
  text-align: center;
  padding: 2rem 0;
  button {
    background: var(--wp--preset--color--brand);
    font-size: var(--wp--custom--font--size--paragraph);
    color: var(--wp--preset--color--dark);
    text-transform: uppercase;
    font-family: var(--jcore-heading-font-family);
    font-weight: 700;
    box-shadow: 5px 5px 0px 0px var(--wp--preset--color--dark);
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    &:hover {
      color: var(--wp--preset--color--light);
      background: var(--wp--preset--color--purple);
    }
  }
}
