.single-case {
  section.data {
    background-color: var(--wp--preset--color--white);
  }
  h1.case-heading.has-maxi-font-size {
    @media (width >= {{ jcore-breakpoint-lg }}) {
      font-size: 100px !important;
    }
    background-color: var(--wp--preset--color--black);
    color: var(--wp--preset--color--white);
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: left;
    padding: 0 20px 0 20px;
    border-radius: 10px;
    box-decoration-break: clone;
    display: inline;
    line-height: 1.6;
  }
  p.case-words {
    @media (width >= {{ jcore-breakpoint-sm }}) {
      line-height: 3;
    }
    background-color: var(--wp--preset--color--lilly);
    line-height: 2.5;
    display: inline;
    box-decoration-break: clone;
    padding: 5px 20px 10px 20px;
    border-radius: 10px;
  }
}
.case-data {
  @media (width >= {{ jcore-breakpoint-md }}) {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 1rem;
    justify-content: space-between;
  }
  .data {
    padding-top: 0.75rem;
    margin-bottom: 1rem;
    .cli,
    .yr,
    .cost {
      margin-bottom: 1rem;
      display: grid;
      grid-template-columns: 1fr 2fr;
      justify-content: center;
      align-items: center;
      grid-gap: 1.5rem;
    }
  }
  .wp-block-button.end {
    justify-self: end;
  }
  .btnblack {
    font-family: var(--wp--preset--font-family--molitor);
    text-decoration: bold;
    text-transform: uppercase;
    color: var(--wp--preset--color--white);
    background-color: var(--wp--preset--color--dark);
    text-align: right;
    padding: 5px 20px 10px 20px;
    border-radius: 10px;
    font-size: 22px;
    box-shadow: none;
  }
  .btnlilly {
    font-family: var(--wp--preset--font-family--molitor);
    text-transform: uppercase;
    color: var(--wp--preset--color--dark);
    background-color: var(--wp--preset--color--lilly);
    text-align: left;
    padding: 5px 20px 10px 20px;
    border-radius: 10px;
    font-size: 22px;
    box-shadow: none;
  }
  .linkout {
    padding-top: 0.75rem;

    .wp-block-button {
      display: flex;
      justify-content: end;
    }
  }
}
