footer {
  background-color:var(--wp--preset--color--dark);
  padding-top: 4.5rem;
  padding-bottom: 0;

  .footer-main {
    padding-bottom: 4rem;
    
    @media (width >= {{ jcore-breakpoint-md }}) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 2;
      grid-template-rows: auto;  
      align-items: start;
      grid-gap: 0 2rem;
    }
    
    .logo {
      grid-column-start: span 3;
      border-bottom: 1px solid rgba(250, 248, 242, 0.2);
      padding-bottom: 4rem;
      margin-bottom: 4rem;
    }
    
    }
    .left,
    .center,
    .right {
      margin-bottom: 2rem;
    }

    
  }

  /* Some */
  .social-media-links {
    a:hover{
      .has--color{
        color: var(--wp--preset--color--brand);
      }
    }
    .fa-inverse{
      color: var(--wp--preset--color--brand);
    }
  }

  /* Copyright */
  .copyright {
    background-color: var(--wp--preset--color--dark);
    padding-bottom: 1rem;
    padding-top: 1rem;
    .info {
      p {
        margin-bottom: 0;
        font-size: var(--wp--preset--font-size--mini);
        opacity: 0.2;
      }
    }
}
