footer {
  background-color: var(--wp--preset--color--dark);
  
  .footer-main {
    padding: 4.5rem 2rem 2rem 2rem;

    @media (width >= var(--breakpoint-md)) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 2;
      grid-template-rows: auto;
      align-items: start;
      grid-gap: 0 2rem;
    }

    .logo {
      grid-column-start: span 3;
      border-bottom: 1px solid rgba(250, 248, 242, 0.2);
      padding-bottom: 4rem;
      margin-bottom: 4rem;
    }
  }
  .left,
  .center,
  .right {
    margin-bottom: 2rem;
  }
}

/* Some */
.social-media-links {
  a:hover {
    .has--color {
      color: var(--wp--preset--color--brand);
    }
  }
  .fa-inverse {
    color: var(--wp--preset--color--brand);
  }
}

/* Ticker */
#ticker{
  margin: 0 !important;
  max-width: unset;
  overflow: hidden;
  width:100%;
  height: 100px;
  padding: 0;
  position: relative;

  @media (width <= var(--breakpoint-sm)) {
    height: 60px;
  }
  
  .ticker-content{
    width: fit-content;
    min-width: 100vw;
    position: absolute;
    top: 0;
    transform: translate3d(100%, 0, 0);
    z-index: 1;

    animation-name: ticker;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 20s;

    @media (width < var(--breakpoint-md)) {
      width: 640px;
    }
  }
  .ticker-content-two{
    animation-delay: 10s;
  }
}

@keyframes ticker {
  0% {
    transform: translate3d(100%, 0, 0);
    visibility: visible; 
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

/* Copyright */
.copyright {
  background-color: var(--wp--preset--color--dark);
  padding-bottom: 1rem;
  padding-top: 1rem;
  .info {
    p {
      margin-bottom: 0;
      font-size: 14px !important;
      opacity: 0.2;
      padding: 0;
    }
  }
}
