body {
    .gform_wrapper {
        .gform_validation_errors {
            border: 1px solid var(--wp--preset--color--dark);
            background-color: var(--wp--preset--color--brand);
            .gform_submission_error {
                color: var(--wp--preset--color--dark);
            }
            .gform-icon--circle-error {
                color: var(--wp--preset--color--dark);
                border: 2px solid var(--wp--preset--color--dark);
            }
        }
        .gform_required_legend {
            display: none;
        }
        .gfield_required {
            color: var(--wp--preset--color--dark) !important;
        }
        .gform_body {
            .gform_fields {
                row-gap: 1.2rem !important;
                .ginput_container {
                    input[type=text], input[type=tel], input[type=email], select, textarea {
                        padding: 1.5rem 0.5rem;
                        border: none;
                    }
                }
                .gfield_label {
                    font-size: var(--wp--custom--font--size--mini);
                }
                .gfield_validation_message {
                    color: var(--wp--preset--color--dark) !important;
                }
            }
        }
        .gform_footer {
            input[type=submit] {
                background:  var(--wp--preset--color--brand) !important;
                font-size: var(--wp--custom--font--size--paragraph) !important;
                color: var(--wp--preset--color--dark) !important;
                text-transform: uppercase !important;
                font-family: 'Molitor', sans-serif !important;
                font-weight: 700 !important;
                box-shadow: 5px 5px 0px 0px var(--wp--preset--color--dark) !important;
                padding: 0.5rem 1.5rem !important;
                &:hover {
                    background:  var(--wp--preset--color--purple) !important;
                    color: var(--wp--preset--color--light) !important;
                }              
            }
        }
    }
    #footer-main {
        .gform_confirmation_message {
            color:  var(--wp--preset--color--light);
        }
    }
}

.page-playbook {
    .playbook {
        .gform-footer {
            justify-content: center !important;
        }
    }
}

