/* Heading */
.wp-block-heading {
  margin-bottom: 1rem;
}

/* Cover */
.wp-block-cover {
  margin-bottom: 1rem;
}

/* Cover on hover effects, requires button inside the cover block */
.wp-block-cover:has(.wp-block-button) {
  .wp-block-cover__image-background {
    transition: transform 0.2s ease-in-out;
  }
}
.wp-block-cover:has(.wp-block-button:hover) {
  /* hide dimming */
  .has-background-dim {
    opacity: 0;
  }
  /* zoom image */
  .wp-block-cover__image-background {
    transform: scale(1.25);
  }
}

/* Gutenberg pullquote and blockquote */
.wp-block-pullquote {
  padding: 0;
  blockquote {
    border-left: none;
    p {
      font-size: 5rem;
      line-height: 5rem;
    }
  }
}

/* Blockquote */
blockquote.wp-block-quote {
  border: none;
  margin-top: 5rem;
  p {
    font-family: var(--jcore-heading-font-family);
    font-size: var(--wp--preset--font-size--heading-3);
    font-style: normal;
    text-align: center;
    font-weight: 400;
    margin-bottom: 0.5rem !important;
    line-height: 1.17;
    &:first-of-type:before {
      font-size: 2rem;
      color: var(--wp--preset--color--aubergine);
      content: "\22";
      font-family: "Font Awesome 6 Sharp";
      font-weight: 900;
      position: absolute;
      top: -3.5rem;
      left: calc(50% - 1.25rem);
    }
    &:last-of-type:after {
      content: "";
    }
  }
  cite {
    font-family: var(--jcore-heading-font-family);
    font-style: normal !important;
    font-weight: bold !important;
    font-size: var(--wp--preset--font-size--ingress);
    text-transform: uppercase;
    text-align: center;
    margin-top: 2rem;
  }
  > * {
    position: relative;
  }
}

/* Gutenberg special spacer dissappears on mobile  */
.wp-block-spacer.hide {
  display: none;
  @media (width >= {{ jcore-breakpoint-lg }}) {
    display: inline-block;
  }
}

/* Media and images */
.wp-block-image {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  &.alignleft {
    float: left;
  }
  &.alignright {
    float: right;
  }
  &.aligncenter {
    margin-left: auto;
    margin-right: auto;
  }
  img {
    border-radius: 10px;
  }
}

.wp-block-media-text {
  .wp-block-media-text__content {
    /* remove the default 7% horizontal padding */
    padding: 0;
  }
}

/* Gallery */

.blocks-gallery-grid,
.wp-block-gallery {
  .blocks-gallery-image,
  .blocks-gallery-item {
    figcaption {
      padding: 1em 0.7em 0.77em;
      font-weight: 400;
    }
  }
}

/* Wrapper to show videos embedded with Gutenberg responsively Works out of the box for YouTube videos. Add videowrapper class to work with any embedded iframe */
.wp-block-embed-youtube,
.videowrapper {
  .wp-block-embed__wrapper {
    aspect-ratio: 16/9;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

/* Social media block on contacts page */

.contacts-social {
  .social-media-links {
    a {
      text-decoration: none;
      .fa-stack {
        margin-left: -1rem;
        .fa-circle {
          display: none;
        }
        .fab {
          color: var(--wp--preset--color--dark);
        }
        &:hover {
          .fa-circle {
            color: var(--wp--preset--color--light);
          }
        }
      }
    }
  }
}
