/* cover block hero pattern */
.hero-pattern{
    h3{
        line-height: 0.95;
        margin-bottom: 1.6rem;
        text-transform: uppercase;
        text-shadow: rgb(0, 0, 0, 0.15) 0 0 10px;
    }
    h4{ 
        text-shadow: rgb(0, 0, 0, 0.15) 0 0 10px;
    }
    .has-background{
        padding: 0 1.5rem 0.5rem 1.5rem;
        border-radius: 10px;
        letter-spacing: 0;
        width: fit-content;
        text-transform: uppercase;
    }
    .wp-block-cover__inner-container{
       min-height: 85dvh;
    }
}

/* cover block with video */
.hero-custom{
    padding: 0;
    margin-bottom: 0;

    .wp-block-cover__inner-container{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .wp-block-cover__image-background{
        background-size: contain; /* if fixed */
        object-fit: contain;
    }
    
    video{
        object-fit: cover;
        object-position: 50% 25%;
        width: 100dvw;
        height: 100dvh;
        @media (width < var(--breakpoint-md)) {
            height: 50dvh;
            margin-top: 20px;

        }
    }
}

.hero-home{
    background-color: #a682fe;
    @media (width < var(--breakpoint-md)) {
        min-height: 58dvh !important;
    }
    /* background: transparent linear-gradient(180deg, #A280F8 0%, #855FDA 77%, #844dd6 100%) 0% 0% no-repeat padding-box; */
}

.lily-gradient{
    background: transparent linear-gradient(180deg, #a682fe 0%, #855FDA 100%) 0% 0% no-repeat padding-box;
    @media (width < var(--breakpoint-md)) {
        padding-bottom: 40px;
    }
}

/* close to hero */
.bubble{
    display: flex;
    justify-content: flex-end;
    padding: 0;

    p{
        margin-bottom: 0;
        width: fit-content;
        padding: 5px 20px 10px 20px;
        border-radius: 10px;
    }
    
}

.page-tietoturvapeli {
    .hero-pattern {
        .has-background{
            padding: 1 0 0.5rem 1rem;
            @media (width > var(--breakpoint-md)) {
                padding: 1 1.5rem 0.5rem 1.5rem;
            }
            text-transform: none;
        }
        .wp-block-cover__inner-container{
           min-height: 35dvh;
        }
    }
}