/* cover block hero pattern */
.hero-pattern{
    h1{
        line-height: 0.95;
        margin-bottom: 1.6rem;
        text-transform: uppercase;
    }
    .has-background{
        padding: 0 1rem 1rem 1rem;
        border-radius: 10px;
        line-height: 1;
        letter-spacing: 0;
        width: fit-content;
        text-transform: uppercase;
    }
}


/* cover block with video */
.hero-custom{
    padding: 0;
    margin-bottom: 0;

    .wp-block-cover__inner-container{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .wp-block-cover__image-background{
        background-size: contain; /* if fixed */
        object-fit: contain;
    }
    
    video{
        object-fit: contain;
        width: 100dvw;
        height: 100dvh;
        top: 0;
        left: 0;
    }
}

.hero-home{
    background-color: #A782FF;
    /* background: transparent linear-gradient(180deg, #A280F8 0%, #855FDA 77%, #844dd6 100%) 0% 0% no-repeat padding-box; */
}

.lily-gradient{
    background: transparent linear-gradient(180deg, #A782FF 0%, #855FDA 77%, #844dd6 100%) 0% 0% no-repeat padding-box;
}

/* close to hero */
.bubble{
    display: flex;
    justify-content: flex-end;
    padding: 0;

    p{
        margin-bottom: 0;
        width: fit-content;
        padding: 5px 20px 10px 20px;
        border-radius: 10px;
    }
}