:root {
  --jcore-bar: 61px;
  --jcore-menu-width: 563px;
}

#jcore-nav {
  background-color: var(--wp--preset--color--white);
  font-family: var(--wp--preset--font-family--molitor);

  .brand {
    svg {
      height: 24px;
      width: 104px;
    }
  }

  .lang {
    display: flex;
    svg {
      margin: 6px;
      height: 18px;
    }
  }

  .contact {
    width: 200px;
    font-size: 1.2rem;
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    transform: rotate(90deg);
    bottom: 120px;
    right: -70px;
    line-height: 34px;

    .circle {
      display: inline-block;
      border-radius: 50%;
      background-color: var(--wp--preset--color--brand);
      margin-bottom: -9px;
      width: 36px;
      height: 36px;
      text-align: center;
      margin-right: 16px;

      svg {
        margin: 7px;
        height: 22px;
      }
    }
  }

  .lang-link {
    text-transform: uppercase;
    font-weight: bold;
    &:not(:last-child)::after {
      content: "/";
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    height: var(--jcore-bar);
    width: var(--jcore-bar);
    background-color: var(--wp--preset--color--dark);
    color: var(--wp--preset--color--light);
    font-size: var(--wp--preset--font-size--heading-3);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      fill: var(--wp--preset--color--light);
      height: 43px;
    }

    &:not(.menu-open) {
      .xmark {
        display: none;
      }
    }
    &.menu-open {
      .bars {
        display: none;
      }
    }
  }

  .menu {
    list-style-type: none;
  }

  #jcore-menu {
    margin: var(--wp--preset--spacing--80) var(--wp--preset--spacing--60);
    background-color: var(--wp--preset--color--light);
  }

  .menu-item {
    padding: 0;
    margin-bottom: 12px;
    &::before {
      display: none;
    }
    &:first-child {
      margin-top: 12px;
    }
  }

  .menu-link {
    font-size: var(--wp--preset--font-size--heading-3);
    font-weight: bold;
    color: var(--wp--preset--color--dark);
    text-transform: uppercase;
    &.menu-link-0 {
      font-size: var(--wp--preset--font-size--heading-2);
    }
  }

  .menu-1 {
    overflow: hidden;
    max-height: var(--menu-height);
    transition: max-height 200ms;
    &:not(.open) {
      max-height: 0;
    }
  }

  button.toggle {
    float: right;
    border-radius: 50%;
    background-color: var(--wp--preset--color--brand);
    font-size: var(--wp--preset--font-size--heading-2);
    width: 61px;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-top: 16px;

    span {
      display: block;
    }

    svg {
      height: var(--jcore-bar);
      width: var(--jcore-bar);
    }

    &:not(.open) {
      .minus {
        display: none;
      }
    }
    &.open {
      .plus {
        display: none;
      }
    }
  }

  #menu-card {
    position: absolute;
    background-color: var(--wp--preset--color--light);
    overflow-x: hidden;
    overflow-y: auto;
  }
}

/* Desktop navigation styles. */
@media (width >= var(--breakpoint-md)) and (height >= 650px) {
  html {
    margin-right: var(--jcore-bar);
  }
  #jcore-nav {
    &.sticky {
      left: unset;
      bottom: 0;
    }
    width: var(--jcore-bar);

    .brand {
      position: absolute;
      z-index: 1;
      top: 120px;
      right: -20px;
      transition:
        top 200ms,
        right 200ms;

      .logo {
        transition: transform 200ms;
        transform: rotate(90deg);
      }
    }

    .lang {
      width: 84px;
      font-size: 1.2rem;
      margin-left: -40px;
      position: absolute;
      transform: rotate(90deg);
      top: 50%;
      right: -12px;
    }

    &:has(.menu-open) {
      .brand {
        top: 20px;
        right: 300px;
        .logo {
          transform: rotate(0deg);
        }
      }
    }
  }
  #spacer_0 {
    display: none;
  }

  #menu-card {
    top: 0;
    right: 61px;
    bottom: 0;
    width: 0;
    transition: width 200ms;
    &.menu-open {
      width: var(--jcore-menu-width);
    }
  }
  #jcore-menu {
    width: calc(var(--jcore-menu-width) - var(--wp--preset--spacing--60) * 2);
  }
}

/* Mobile navigation styles. */
@media (width < var(--breakpoint-md)), (height < 650px) {
  #jcore-nav {
    display: flex;
    flex-direction: row;
    height: var(--jcore-bar);
    justify-content: space-around;
    align-items: center;
    padding-right: var(--jcore-bar);

    .contact {
      display: none;
    }

    #menu-card {
      top: var(--jcore-bar);
      left: 0;
      right: 0;
      height: 0;
      transition: height 200ms;
      &.menu-open {
        height: calc(100dvh - var(--jcore-bar));
      }
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

/* WP Fix */
body.admin-bar {
  /* Fix for WP admin-bar */
  .navbar.scrollActive,
  .sticky,
  .skip-to-content a {
    top: var(--wp-admin--admin-bar--height);
  }
}
