#jcore-nav {
  --jcore-bar: 61px;
  background-color: var(--wp--preset--color--white);
  .brand {
    svg {
      height: 24px;
      width: 105px;
    }
  }
  .hamburger {
    height: var(--jcore-bar);
    width: var(--jcore-bar);
    background-color: var(--wp--preset--color--dark);
  }
  #jcore-menu {
    background-color: var(--wp--preset--color--light);
  }
}

/* Desktop navigation styles. */
@media (width >= {{ jcore-breakpoint-sm }}) {
  #jcore-nav {
    &.sticky {
      left: unset;
      bottom: 0;
    }
    width: 61px;

    .brand {
      position: absolute;
      z-index: 1;
      top: 120px;
      right: -20px;
      transition:
        top 200ms,
        right 200ms;

      .logo {
        transition: transform 200ms;
        transform: rotate(90deg);
      }
    }

    &.menu-open {
      .brand {
        top: 20px;
        right: 300px;
        .logo {
          transform: rotate(0deg);
        }
      }
    }
  }
  #spacer_0 {
    display: none;
  }

  #jcore-menu {
    position: absolute;
    top: 0;
    right: 61px;
    bottom: 0;
    width: 0;
    padding-top: 61px;
    background-color: var(--wp--preset--color--light);
    overflow: hidden;
    transition: width 100ms;
    &.menu-open {
      width: 563px;
    }
  }
}

/* Mobile navigation styles. */
@media (width < {{ jcore-breakpoint-sm }}) {
  #jcore-nav {
  }
}

.sticky {
  position: fixed;
  top: var(--wp-admin--admin-bar--height);
  left: 0;
  right: 0;
  z-index: 10;
}

/* WP Fix */
body.admin-bar {
  /* Fix for WP admin-bar */
  .navbar.scrollActive,
  .navbar.sticky,
  .skip-to-content a {
    top: 46px;
  }

  @media screen and (min-width: 781px) {
    .navbar.scrollActive,
    .navbar.sticky,
    .skip-to-content a {
      top: 32px;
    }
  }
}
