.pum {
    .pum-container {
        p {
            font-family: var(--jcore-heading-font-family);
            margin-bottom: 1.5rem;
        }
        a.btn {
            background-color: var(--wp--preset--color--brand);
            color: var(--wp--preset--color--dark);
            line-height: 1;
            border-radius: 4px;
            font-weight: 700;
            border: none;
        }
    }
}