:root {
  --jcore-font-family: var(--wp--preset--font-family--albert-sans);
  --jcore-heading-font-family: var(--wp--preset--font-family--molitor);
}
p {
  margin-bottom: 1rem;
  letter-spacing: 0.2px;
}

h1 {
  font-size: var(--wp--custom--font--size--heading-1);
  line-height: var(--wp--custom--line-height--xs);
}

h2,
h3 {
  line-height: var(--wp--custom--line-height--sm);
}

h4,
h4,
h5,
h6 {
  line-height: var(--wp--custom--line-height--md);
}

h2,
h3,
h4,
h5,
h6 {
  font-size: var(--wp--custom--font--size--heading-2);
}

main {
  a {
    color: var(--wp--preset--color--dark);
    text-decoration: underline;

    &:hover {
      color: var(--wp--preset--color--dark);
      text-decoration: none;
    }
  }

  /* List styles */
  ul {
    list-style-type: none;
    font-size: var(--wp--preset--font-size--paragraph);

    li {
      position: relative;
      padding-left: 20px;
      margin-bottom: 0.75rem;
      letter-spacing: 0.2px;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 9px;
        width: 10px;
        height: 10px;
        background-color: var(--wp--preset--color--lilly);
        border-radius: 4px;
      }
    }
  }

  /* Checklist -list with checkmarks instead of bullets */
.wp-block-list.check-list {
  padding-left: 0;
  li {
    position: relative;
    list-style-type: none;
    padding-left: 3rem !important;
    margin-bottom: 1.5rem;
    &:before {
      content: "\f00c";
      font-family: "Font Awesome 6 Pro";
      font-weight: 400;
      position: absolute;
      left: 0;
      font-size: 17px;
      color: var(--wp--preset--color--white);
      top: -2px;
      width: 34px;
      height: 34px;
      border: 2px solid var(--wp--preset--color--brand);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--wp--preset--color--brand);
    }
    &::marker {
      display: none !important;
    }
  }
}

  ol {
    padding-left: 1.5rem;
    li {
      margin-bottom: 0.75rem;
      padding-left: 0.75rem;
    }
  }
}

 /* List with purple numbers */
.wp-block-list.numbers {
  li {
    font-size: var(--wp--preset--font-size--paragraph);
    &::marker {
      font-family: var(--jcore-heading-font-family);
      color: var(--wp--preset--color--purple);
      font-size: var(--wp--preset--font-size--ingress);
    }
    strong {
      font-size: var(--wp--preset--font-size--ingress);
      font-family: var(--jcore-heading-font-family);
      font-weight: 400;
    }
  }
}

/* Spacing */
.has-molitor-font-family {
  letter-spacing: 1.2px;
}
.wp-block-heading.has-maxi-font-size {
  letter-spacing: -2px;
}
