p {
  margin-bottom: 1rem;
}

h1 {
  font-size: var(--wp--custom--font--size--heading-1);
  line-height: var(--wp--custom--line-height--xs);
}

h2,
h3 {
  line-height: var(--wp--custom--line-height--sm);
}

h4,
h4,
h5,
h6 {
  line-height: var(--wp--custom--line-height--md);
}

h2,
h3,
h4,
h5,
h6 {
  font-size: var(--wp--custom--font--size--heading-2);
}

a {
  color: var(--wp--preset--color--dark);
  text-decoration: underline;

  &:hover {
    color: var(--wp--preset--color--dark);
    text-decoration: none;
  }
}

/* List styles */

ul {
  list-style-type: none;

  li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 0.75rem;
    &::before {
    content: ""; 
    position: absolute;
    left: 0;
    top: 7px;
    width: 10px; 
    height: 10px; 
    background-color: var(--wp--preset--color--lilly);
    border-radius: 4px; 
    }
  }
}

ol {
  padding-left: 1.5rem;
  li {
    margin-bottom: 0.75rem;
    padding-left: 0.75rem;
  }
}