<script src="https://kit.fontawesome.com/42a3e98d75.js" crossorigin="anonymous"></script>
<script>window['__JQUEST_VERSION'] = 'staging'</script>
<script src="https://files.jquest.fi/jquest/jquest-loader.js"></script>
<div
    class="jquest-app"
    data-new-styles="true"
    data-org-id="jco"
    data-game-id="WQWxi0aDxdd4jLpYIqEc"
    data-locale="fi"
></div>