{# fields is the acf fields variable #}
{# and block is the block metadata like name and id #}
<section id="block-{{ block.id }}" class="block {{ block.className }} align{{ block.align}}">
   <p  class="share-heading">{{ __('Share','jcore') }}:</p>
    {% include 'partials/social-media-share.twig' %}
</section>