<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/wp-content/plugins/jquest-plugin/vendor-prefixed/upstatement/routes/tests" />
        <option value="$PROJECT_DIR$/wp-content/plugins/smtp2go/tests" />
      </list>
    </option>
  </component>
</project>