{% block navbar_above %}
	{% if customizer('navigation','topbar') %}
		{% include 'navigation/topbar.twig' %}
	{% endif %}
{% endblock %}

	<nav id="jcore-nav" class="sticky" data-jsticky>
    	<button class="hamburger" data-jtoggle="#jcore-nav,#menu-card" data-class="menu-open">
    	    <i class="fa-regular fa-bars"></i>
    	</button>
		<div class="brand">
		      <div class="logo">
								{% include 'images/navbar-brand.twig' %}
			</div>
		</div>
		<div class="lang">
		  <i class="fa-light fa-globe"></i>
			<a href="">sv</a>
		</div>
		<div id="menu-card" class="menu-card">
		  {% include "navigation/menu.twig" with {items: menu.primary.get_items, id: "jcore-menu", level: 0} only %}
		</div>
	</nav>
